<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @post_months.sort.reverse.each do |month, posts| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <%= link_to month.strftime("%B %Y"), "##{month.strftime("%B %Y").gsub(' ', '_')}", role: "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", 'aria-expanded' => "false", 'aria-controls' => month.strftime("%B %Y").gsub(' ', '_') %>
        </h4>
      </div>
      <div id="<%= month.strftime("%B %Y").gsub(' ', '_') %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <% posts.each do |post| %>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to "#{post.title} - #{post.created_at.strftime("%m/%d")}", post_path(post) %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
