<ul class="accordion">
  <% @post_months.sort.reverse.each do |month, posts| %>
    <li>
      <%= link_to month.strftime("%B %Y"), '#', class: 'js-accordion-trigger' %>
      <ul class="submenu">
        <% posts.each do |post| %>
          <li>
            <%= link_to post.title, post_path(post) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
