<div class="page-header">
  <h1>Recent Updates</h1>
</div>

<div class="posts_content col-md-8">
  <% @posts.reverse.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post %></h2>
      <p></p>
      <p>
        <em><%= post.created_at.strftime("%m/%d/%Y") %></em> - 
        <%= post.content %>
      </p>
    </div>
  <% end %>
</div>

<div class="posts_archive col-md-4">
  <%= render :partial => "archive" %>
</div>

<br>
