/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "clean-blog";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

.navbar-default {
  // background-color: #5da2e3;
}

.navbar-default .navbar-nav > li > a {
  color: #5da2e3;
}

.navbar-default  a.navbar-brand {
  color: #5da2e3;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active {
  color: white;
  background-color: transparent;
}
.post-bg {
  background-image: image_url('post-bg.jpg');
}
.about-bg {
  background-image: image_url('about-bg.jpg');
}
.contact-bg {
  background-image: image_url('contact-bg.jpg');
}
.home-bg {
  background-image: image_url('home-bg.jpg');
}
.pagination {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.posts_archive {
  padding-top: 40px;
}
.form-horizontal .control-label {
  padding-top: 0;
}
.help-block {
  font-size: small;
}
