<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Posts', posts_path %></li>
        <li class="nav-link"><a href="javascript:void(0)">Calender</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Documents</a></li>
        <!-- <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <div class="navigation-tools">
      
      <% if current_user.nil? && params['action'] != 'new' %>
        <%= link_to "Log in", new_session_path(User.new), class: 'sign-up'  %>
      <% else %>
        <%= link_to "Log out", destroy_session_path(User), method: :delete, class: 'sign-up' %>
      <% end %>
    </div>
  </div>
</header>
